.row{
    display: flex;
    align-items: center;
    justify-content: center ;
}

body{
    background: rgb(76, 89, 124) !important;
}

.card-body{
    background: #0B96BC;
    border: 1px solid #09596f;
    border-radius: 5px;
}

.card-header{
    border-radius: 5px !important;
    background-color: #0D6EFD !important;
    align-items: right !important;

}

.table{
    display:inline !important;
}
.body{
    /* display: flex !important; */
    align-items: center !important;
    justify-content: center !important;
}